body {
  background-color: #282c34;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

h1 {
  font-size: 50px;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.App header {
  background-color: #1b2229;
  height: 15vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.App header h1 {
  display: flex;
  align-items: center;
}

.App header img {
  width: 10%;
  height: auto;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}

main {
  padding: 10px;
  height: 70vh;
  margin: 15vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  width: 100%;
  max-width: 100%;
  display: flex;
  font-size: 1.5rem;
  /* border-radius: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

form button {
  width: 10%;
  background-color: #ff6c6b;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  line-height: 1.5;
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  background: #ecbe7b;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 50px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  background-color: #98be65;
  cursor: not-allowed;
}

button.sign-in {
  background-color: #ff6c6b;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  outline: none;
}

button.sign-out {
  background-color: #ff6c6b;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

h2 {
  font-size: 30px;
  color: white;
}

.message {
  display: flex;
  align-items: center;
}

.ChatMessage {
  background-color: #ff6c6b;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #c678dd;
  padding: 15px;
  border-radius: 50px;
  font-size: larger;
  align-self: flex-end;
}
.received p {
  background: #46d9ff;
  font-size: larger;
  color: black;
  padding: 15px;
  border-radius: 50px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media only screen and (max-height: 800px) {
  h1 {
    font-size: 30px;
  }

  form {
    height: 4rem;
  }

  input {
    height: 3.5rem;
  }

  form button {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 30px;
  }

  form {
    height: 4rem;
  }

  input {
    height: 3.5rem;
  }

  form button {
    height: 3.5rem;
  }
}

@media only screen and (max-height: 800px) {
  h1 {
    font-size: 30px;
  }

  form {
    height: 4rem;
  }

  input {
    height: 3.5rem;
  }

  form button {
    height: 3.5rem;
  }

  .App header {
    height: 20vh;
  }
}
